*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.8;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c0c;
  position: relative;
  overflow-x: hidden;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  padding: 10rem 0;
}

.container {
  max-width: 144rem;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  padding: 0rem 4rem;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 1rem;
  }
}
.word {
  color: #22ca83;
}

.section-heading {
  font-size: 5.4rem;
  text-transform: capitalize;
}

.nav {
  width: 100%;
  height: 10rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.nav .logo {
  font-size: 3.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}
.nav .logo:hover {
  color: #22ca83;
}
.nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 54%;
  font-size: 2rem;
  text-transform: capitalize;
}
.nav .nav-list .nav-item .nav-link {
  position: relative;
  transition: color 0.4s ease-in-out;
}
.nav .nav-list .nav-item .nav-link::before {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  width: 0%;
  height: 0.2rem;
  border-radius: 2rem;
  background-color: #22ca83;
  transition: width 0.4s ease-in-out;
}
.nav .nav-list .nav-item .nav-link:hover {
  color: #22ca83;
}
.nav .nav-list .nav-item .nav-link:hover::before {
  width: 100%;
}
.nav .nav-list .nav-item .nav-link.active::before {
  width: 100%;
}
.nav .menu {
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  display: none;
}
.nav .menu:hover, .nav .menu.active {
  color: #22ca83;
}

@media screen and (max-width: 900px) {
  .nav .logo {
    font-size: 2.6rem;
  }
  .nav .nav-list {
    font-size: 1.6rem;
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .nav .nav-list {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: inherit;
    position: absolute;
    left: 0;
    top: -100rem;
    width: 100%;
    height: 100vh;
    transition: top 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav .nav-list.active {
    top: 0;
  }
  .nav .nav-list .nav-item {
    width: 100%;
    margin-bottom: 5rem;
  }
  .nav .logo {
    position: relative;
  }
  .nav .menu {
    display: block;
    position: relative;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: -2.5rem;
}
.header .text-container {
  flex: 1;
}
.header .text-container h1 {
  width: 50rem;
  line-height: 1;
  font-size: 6.4rem;
}
.header .text-container p {
  font-size: 1.4rem;
  width: 42rem;
  margin: 2rem 0 4rem 0;
}
.header .image-container {
  flex: 1;
  text-align: right;
}
.header .image-container .header-image {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1100px) {
  .header .text-container h1 {
    font-size: 4rem;
    width: 32rem;
  }
  .header .text-container p {
    font-size: 1.4rem;
    width: 30rem;
  }
  .header .image-container {
    flex: 2;
  }
}
@media screen and (max-width: 850px) {
  .header {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
  }
  .header .text-container h1 {
    font-size: 3.5;
  }
  .header .text-container p {
    font-size: 1.4rem;
  }
  .header .text-container h1, .header .text-container p {
    width: 100%;
  }
}
.btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #22ca83;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  border: 0.3rem solid transparent;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  border-color: #22ca83;
  color: #22ca83;
}

.features {
  background-color: #fff;
}
.features .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.features .icons-container .icon-box {
  display: flex;
  width: 39.5rem;
  align-items: center;
  margin: 2rem 0;
}
.features .icons-container .icon-box .icon {
  margin-right: 2rem;
}
.features .icons-container .icon-box .icon i {
  width: 10rem;
  text-align: center;
  color: #fff;
  background-color: #22ca83;
  font-size: 5rem;
}
.features .icons-container .icon-box .icon-info-container h3 {
  font-size: 2.5rem;
}
.features .icons-container .icon-box .icon-info-container p {
  font-size: 1.6rem;
  color: #999999;
}

@media screen and (max-width: 400px) {
  .features .section-heading {
    font-size: 4.5rem;
  }
  .features .icons-container .icon-box {
    width: 100%;
  }
  .features .icons-container .icon-box .icon i {
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features .icons-container .icon-box .icon-info-container h3 {
    font-size: 1.6rem;
  }
  .features .icons-container .icon-box .icon-info-container p {
    font-size: 1.4rem;
  }
}
.about {
  overflow-x: hidden;
}
.about .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about .container .image-container {
  flex: 1;
  min-width: 40rem;
  text-align: center;
}
.about .container .image-container img {
  width: 70%;
}
.about .container .about-text-container {
  flex: 1;
  color: #fff;
  min-width: 50rem;
}
.about .container .about-text-container h2 {
  font-size: 4rem;
  text-transform: uppercase;
}
.about .container .about-text-container p {
  font-size: 1.6rem;
  line-height: 1.7;
}

@media screen and (max-width: 985px) {
  .about .container .image-container {
    min-width: 100%;
  }
  .about .container .about-text-container {
    min-width: 100%;
    padding: 2rem 0rem;
    text-align: center;
  }
  .about .container .about-text-container h2 {
    font-size: 3rem;
  }
  .about .container .about-text-container p {
    font-size: 1.4rem;
  }
}
.products {
  background-color: #fff;
  color: #000;
}
.products .container .products-container {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  justify-content: center;
  gap: 4rem;
}
.products .container .products-container .card .image-container {
  background-color: #D9D9D9;
}
.products .container .products-container .card .image-container .imgage {
  transform: translateX(-3rem);
}
.products .container .products-container .card .product-name {
  font-size: 2.5rem;
}
.products .container .products-container .card .icons {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #22ca83;
}
.products .container .products-container .card .icons .rotate {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  transform: rotateZ(45deg);
  border: 0.3rem solid #22ca83;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.products .container .products-container .card .icons .rotate:hover {
  color: #fff;
  border: none;
  background-color: #22ca83;
}
.products .container .products-container .card .price {
  font-size: 2.5rem;
  font-weight: 600;
}
.products .container .btn {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 15rem;
}
.products .container .btn:hover {
  color: #22ca83;
}

@media screen and (max-width: 400px) {
  .products .container .products-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .products .container .products-container .card {
    width: 100%;
  }
  .products .container .products-container .card .product-name {
    font-size: 2rem;
  }
  .products .container .products-container .card .icons .rotate {
    width: 4rem;
    height: 4rem;
    font-size: 2.7rem;
  }
  .products .container .products-container .card .price {
    font-size: 1.6rem;
  }
}
.testimonial .container {
  overflow: hidden;
}
.testimonial .container h2 {
  color: #fff;
}
.testimonial .container .testimonial-container {
  width: 70rem;
  min-height: 30rem;
  margin: 0 auto;
  margin-top: 5rem;
  position: relative;
  border: 0.5rem solid #22ca83;
  background-color: #fff;
  color: #000;
  padding: 3rem 5rem;
  padding-top: 6rem;
  border-radius: 1rem;
  text-align: center;
}
.testimonial .container .testimonial-container .circle {
  position: absolute;
  z-index: -1;
  width: 90%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 20%;
}
.testimonial .container .testimonial-container .person-image {
  position: absolute;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 0.5rem solid #22ca83;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
}
.testimonial .container .testimonial-container .person-name {
  color: #999999;
  font-size: 2.4rem;
  margin: 1rem 0;
}
.testimonial .container .testimonial-container .person-text {
  font-size: 1.6rem;
  width: 90%;
  margin: 0 auto;
}
.testimonial .icons {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial .icons i {
  color: #fff;
  font-size: 5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.testimonial .icons i:hover {
  color: #22ca83;
}

@media screen and (max-width: 800px) {
  .testimonial .container {
    padding: 0;
  }
  .testimonial .container h2 {
    margin-left: 2rem;
    font-size: 3.5rem;
  }
  .testimonial .container .testimonial-container {
    width: 100%;
  }
  .testimonial .icons {
    width: 60%;
    min-width: 20rem;
  }
}
.news {
  background-color: #fff;
}
.news .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.news .container h2 {
  font-size: 3.6rem;
  margin-right: 5rem;
}
.news .container .form-group {
  display: flex;
  align-content: center;
  justify-content: center;
}
.news .container .form-group input {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 0.5rem solid #22ca83;
  min-width: 40rem;
  font-size: 1.6rem;
  outline: none;
}
.news .container .form-group .btn {
  margin-left: -14.5rem;
  color: #fff;
  border: 0.5rem solid #22ca83;
}
.news .container .form-group .btn:hover {
  color: #000;
}

@media screen and (max-width: 900px) {
  .news .container {
    padding: 0 2rem;
  }
  .news .container h2 {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 420px) {
  .news .container .form-group input {
    min-width: 20rem;
  }
  .news .container .form-group .btn {
    font-size: 1.2rem;
    margin-left: -11.8rem;
  }
}
footer {
  color: #fff;
  padding: 5rem 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .left .logo {
  font-size: 3.6rem;
}
footer .container .left p {
  display: block;
  font-size: 1.6rem;
}
footer .container .left .icons i {
  font-size: 3rem;
  transition: color 0.5s ease-in-out;
  margin-right: 1rem;
}
footer .container .left .icons i:hover {
  color: #22ca83;
}
footer .container .right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .right .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  margin-right: 8rem;
}
footer .container .right .column h5 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
footer .container .right .column a {
  margin-bottom: 1rem;
}

@media screen and (max-width: 830px) {
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  footer .container .left {
    text-align: center;
    margin-bottom: 2rem;
  }
  footer .container .left .logo {
    font-size: 3rem;
  }
  footer .container .right {
    width: 100%;
    justify-content: center;
  }
  footer .container .right .column {
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
}/*# sourceMappingURL=main.css.map */