.about {
  overflow-x: hidden;
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .image-container {
      flex: 1;
      min-width: 40rem;
      text-align: center;
      img {
        width: 90%;
      }
    }
    .about-text-container {
      flex: 1;
      color: #fff;
      min-width: 50rem;
      h2 {
        font-size: 4rem;
        text-transform: uppercase;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.7;
      }
    }
  }
}

@media screen and (max-width: 985px) {
  .about {
    .container {
      .image-container{
        min-width: 100%;
      }
      .about-text-container {
        min-width: 100%;
        padding: 2rem 0rem;
        text-align: center;

        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}
