.btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: $primary-color;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  border: 0.3rem solid transparent;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
  }
 
}
