.news {
  background-color: #fff;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h2 {
      font-size: 3.6rem;
      margin-right: 5rem;
    }

    .form-group {
      display: flex;
      align-content: center;
      justify-content: center;

      input {
        padding: 1rem 2rem;
        border-radius: 1rem;
        border: $border;
        min-width: 40rem;
        font-size: 1.6rem;
        outline: none;
      }

      .btn {
        margin-left: -14.5rem;
        color: #fff;
        border: $border;

        &:hover {
          color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .news {
    .container {
      padding: 0 2rem;

      h2 {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 5rem;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .news {
    .container {
      .form-group {
        input {
          min-width: 20rem;
        }

        .btn {
          font-size: 1.2rem;
          margin-left: -11.8rem;
        }
      }
    }
  }
}
